@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
body{
    background-color: white;
}

.titulo{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: row;
    align-content: stretch;
}
h2{
    text-align: center;
}
p{
    text-align:center;
}