@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
body{
    font-family: 'Girassol', cursive;
}

.tudo {
    display: flex;
    align-items:start;
    justify-content: space-around;
}

.texto {
    margin-top: 20px;
    text-align: justify;
    width: 400px;
    font-size: x-large;

}

.titulo1 {
    text-align: center;
}




.lista{
    font-size: x-large;
}