@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
body{
    font-family: 'Girassol', cursive;
}
.titulo1 {
    text-align: center;
    font-size: x-large;
}
.tudo{
    font-size: x-large;
    width:1000px ;
    display: flex;
    align-items:start;
    justify-content: space-evenly;
}


}


